{% extends 'backend/head.html' %}
{%load static %}
{%block active%}
<div class="navbar-nav w-100">
    <a href="/backend/" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
    <a href="/backend/tablet/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tablets</a>
    <a href="/backend/searchall/" class="nav-item nav-link"><i class="fa fa-th me-2"></i>All DATAs</a>
    <div class="nav-item dropdown">
        <a href="/backend/index" class="nav-link dropdown-toggle"  data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elements</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="/button" class="dropdown-item">Buttons</a>
            <a href="/typography" class="dropdown-item">Typography</a>
            <a href="/element" class="dropdown-item">Other Elements</a>
        </div>
    </div>
    <a href="/backend/opp/" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Appointment</a>
    
    <a href="/chart" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>
    <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Pages</a>
        <div class="dropdown-menu bg-transparent border-0">
            <a href="/signin" class="dropdown-item">Sign In</a>
            <a href="/signup" class="dropdown-item">Sign Up</a>
            <a href="/404" class="dropdown-item">404 Error</a>
            <a href="/blank" class="dropdown-item">Blank Page</a>
        </div>
    </div>
</div>
{% endblock%}
{% block main %}



            <!-- Navbar End -->


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Worldwide Sales</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Salse & Revenue</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="salse-revenue"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent pasent</h6>
                        <a href="">Show All</a>
                    </div>
              
              <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>id</th>
                            <th>Username</th>
                            <th>Age</th>
                            <th>Phone No</th>
                            <th>Date</th>
                            <th>print</th>
                        </tr>
                    </thead>
                    {% for entry in data_list %}
                    <tbody>
                        <tr data-toggle="collapse"  class="accordion-toggle " data-target={%for i in entry.row%}{{ i }}{%endfor%}>
                            <td class="details-control" >s/w</td>
                            <td>{{entry.id}}</td>
                            <td>{%for i in entry.username%}{{ i }}{%endfor%}</td>
                            <td>{%for i in entry.age%}{{ i }}{%endfor%}</td>
                            <td>{%for i in entry.phoneno%}{{ i }}{%endfor%}</td>
                           
                            <td>{%for i in entry.date%}{{ i }}{%endfor%}</td>
                            <td> <a class="btn btn-sm btn-primary" href="{% url 'printing' entry.id %}">print</a></td>
                        </tr>
                        <tr>
                            <td colspan="12" class="hiddenRow">
                                <div  class="accordian-body collapse" id={%for i in entry.idrow%}{{ i }}{%endfor%}>
                                    <table class="table table-condensed" >
                                        <tr >
                                            <th colspan="6">pasent health </th>
                                            <td colspan="6">{%for i in entry.pasenthealthProblem%}{{ i }} , {%endfor%}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="6">Complaints</th>
                                            <td colspan="6">{%for i in entry.complaints%}{{ i }}{%endfor%}</td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">Tablet<br>{%for i in entry.tablet%}<h4>{{ i }}</h4><br>{%endfor%}</th>
                                          <th colspan="2">  day<br>{%for i in entry.day%}<h4>{{ i }}</h4><br>{%endfor%}</th>
                                          <th colspan="2">  Morning<br>{%for i in entry.morning%}<h4>{{ i }}</h4><br>{%endfor%}</th>
                                          <th colspan="2">  Evening<br>{%for i in entry.evening%}<h4>{{ i }}</h4><br>{%endfor%}</th>
                                        <th colspan="2">  Night<br>{%for i in entry.night%}<h4>{{ i }}</h4><br>{%endfor%}</th>
                                           <th colspan="2">Food<br>{%for i in entry.food%}<h4>{{ i }}</h4><br>{%endfor%}</th>
                                            
                                        </tr>
                                        <tr>
                                            <th colspan="4">rxadviced</th>
                                            <td colspan="8"><h5>{%for i in entry.rxadviced%}{{ i }}  ,  {%endfor%}</h5></td>
                                        </tr>
                                        <tr >
                                    <th colspan="3">leftupper<br>{%for i in entry.leftupper%}{{ i }}    {%endfor%}</th>
                                    <th colspan="3">rightupper<br>{%for i in entry.rightupper%}{{ i }}    {%endfor%}</th>
                                    <th  colspan="3">leftupperchild<br>{%for i in entry.leftupperchar%}{{ i }}     {%endfor%}</th>
                                    <th colspan="3">rightupperchild<br>{%for i in entry.rightupperchar%}{{ i }}    {%endfor%}</th>
                                    
                                    </tr>
                                        <tr>
                                            <th colspan="3">leftdown<br>{%for i in entry.leftdown%}{{ i }}    {%endfor%}</th>
                                            <th colspan="3">rightdown<br>{%for i in entry.rightdown%}{{ i }}     {%endfor%}</th>
                                    
                                    <th colspan="3">leftdownchild<br>{%for i in entry.leftdownchar%}{{ i }}    {%endfor%}</th>
                                    <th colspan="3">rightdownchild<br>{%for i in entry.rightdownchar%}{{ i }}    {%endfor%}</th>
                                        </tr>
                                        <tr>
                                            <th colspan="6"> <a class="btn btn-sm btn-primary" href="{% url 'update1' entry.id %}">update</a></th>
                                            <th colspan="6"><a class="btn btn-sm btn-primary" href="{% url 'deleteprd1' entry.id %}">delete</a></th>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        
                        
                    </tbody>
                    {%endfor%}
                </table>
            </div>
            
             
                </div>
            </div>
            
            <script>
                $(document).ready(function() {
            $('.accordion-toggle').each(function(index) {
            var targetId = 'row' + (index + 1);
            $(this).attr('data-target', '#' + targetId);
            $(this).next().find('.accordian-body').attr('id', targetId);
            });
            $('.accordion-toggle').click(function() {
            var icon = $(this).find('.details-control');
            icon.text(icon.text() === 'hide' ? 'show' : 'hide');
            });
            });
              </script>
            
            <!-- Recent Sales End -->


            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Messages</h6>
                                <a href="/backend/opp/">Show All</a>
                            </div>
                            {%for i in app%}
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="{% static 'backend/img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">{{i.name}}</h6>
                                        <small>{{i.date}}</small>
                                    </div>
                                    <span>{{i.phoneno}}</span>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calender</h6>
                                <a href="">Show All</a>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">To Do List</h6>
                                <a href="">Show All</a>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                            <div class="d-flex mb-2">
                                
                                <input name="task" class="form-control bg-dark border-0" type="text" placeholder="Enter task">
                                <button type="submit" class="btn btn-primary ms-2">Add</button>
                            
                            </div>
                        </form>
                        {%for i in task%}
                            <div class="d-flex align-items-center border-bottom py-2">
                                
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>{{i.task}}</span>
                                        <a href="{% url 'deletetask' i.id %}"><button class="btn btn-sm" ><i class="fa fa-times" ></i></button></a>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widgets End -->


            <!-- Footer Start -->
            {% endblock %}
            

    <!-- JavaScript Libraries -->
    

    <!-- Template Javascript -->
    
</body>

</html>
